*{
  margin:0px;
  padding:0px;
}
body{
  background-color: #2B2B2B;
  height: 90vh;
}
.container{
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #1F1F1F;
}
.titleHolder{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding-top: 30px;
  text-align: center;
  color: white;
  margin: auto;
}
.playButt{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 25px;
  background-color: pink;
  margin: auto;
  width: 20%;
  border-radius: 20px;
  padding: 15px 30px;
  display: none;
}
.rotateShip{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 25px;
  background-color: rgb(97, 66, 66);
  margin: auto;
  width: 20%;
  border-radius: 20px;
  padding: 15px 30px;
  cursor: pointer;
  user-select: none;
}
.board {
  margin: auto;
  margin-top: 30px;
  border-collapse: collapse;
}
.cell {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  background-color: #D9D9D9;
}

.shipsHolder{
  width: 80%;
  margin: auto;
}
.shipsHolder{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}
.shipsHolder .ship{
  cursor: pointer;
}
.ship{
  border-collapse: collapse;
}
.cellPast{
  width: 35px;
  height: 35px;
  background-color: #6E6E6E;
}

.colouredCells{
  background-color: gray !important;
}

.ship {
  border-collapse: collapse;
  width: auto; /* Позволяет кораблю занимать несколько ячеек */
}

.coloured{
  background-color: blue;
}